/* Config
------------------------------------- */
$content-width: 1050px;
$content-width-sm: 400px;


$item-gutter: 20px; /* Padding/margin on left/right of nav + every side of content wrappers */
$banner-padding: 60px; /* Top-bottom padding on banner. */
$ui-pad: 10px; /* padding on buttons and forms and stuff */

@import
  "kirk/base",
  "kirk/reusable",
  "kirk/components"
;