/* Config
------------------------------------- */
$content-width: 1000px;
$content-width-sm: 400px;


$outer-padding: 20px; /* Padding on left/right of nav + every side of content wrappers */
$banner-padding: 60px; /* Top-bottom padding on banner. */

@import
  "kirk/base",
  "kirk/reusable",
  "kirk/components"
;