html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 32px;
  margin-top: $item-gutter * 4;
  margin-bottom: $item-gutter * 2;
  padding-left: $item-gutter;
  padding-right: $item-gutter;
}

h2:first-of-type {
  margin-top: 0;
}

h3 {
  font-size: 22px;
}

p {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}