header.primary {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0;
  padding: 0 20px;
  color: #FFF;
  background-color: rgba(12, 142, 218, 0);
  transition: background-color 0.6s;

  h1 {

    a {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      text-decoration: none;
      color: #FFF;
      font-size: 30px;
      font-family: inherit;
      font-weight: inherit;
      text-shadow: 0 0 5px rgba(0, 0, 0, 1);
      

      span {
        height: 50px;
        line-height: 50px;
      }

      small {
        height: 50px;
        line-height: 50px;
        margin-left: 10px;
        border-left: solid 1px #CCC;
        padding-left: 10px;
        // color: #CCC;
        font-size: 21px;
      }
    }
  }

  button {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 5px 10px;
    border: solid 1px #FFF;
    color: #FFF;
    background-color: transparent;
    outline: none;
    cursor: pointer;
  }
}

header.primary.scrolled {
  background-color: rgba(12, 142, 218, 0.9);
}

header.secondary {
  padding: $item-gutter;
  padding-top: $banner-padding + 60px;
  padding-bottom: $banner-padding;
  background-image: linear-gradient(rgba(12, 142, 218, 0.7), rgba(12, 142, 218, 0.7)), url(/assets/banner.jpeg);
  background-size: cover;
  background-position: top 40% center;
  background-repeat: no-repeat;

  h1 {
    color: #FFF;
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
  }
}

.col.service {

  .img {
    display: block;
    width: 100%;
    height: 0;
    padding: 0;
    padding-bottom: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFF;
    margin-bottom: $item-gutter;
  }

  h3 {
    font-weight: 600;
    margin-bottom: $item-gutter;
  }

  p {
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.65em;
  }
}

.slideshow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: $item-gutter * 2;

  .slide {
    flex: 1;
    margin: 0 $item-gutter;

    div {
      position: relative;
      height: 0;
      padding: 0;
      padding-bottom: 80%;
      background-size: cover;
      background-position: top left;
      background-repeat: no-repeat;

      header {
        position: absolute;
        bottom: 0;
        padding: $item-gutter;

        h3 {
          color: #FFF;
          font-weight: 600;
          text-shadow: 0 0 5px rgba(0, 0, 0, 1);
        }

        .tag {
          display: inline-block;
          font-family: 'Open Sans', sans-serif;
          font-size: 14px;
          padding: 3px 5px;
          border-radius: 3px;
          background-color: rgba(255, 255, 255, 0.7);
          color: #000;
        }
      }
    }
  }

  button {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 100%;
    border: 0;
    color: #FFF;
    background-color: rgba(12, 142, 218, 0.9);
  }
}

.col.testimony {
  
  h3 {
    font-weight: 600;
    text-align: center;
  }
  img {
    display: block;
    width: 100%;
    max-width: 150px;
    height: auto;
    margin: 0 auto;
    margin-bottom: $item-gutter;
    border-radius: 100%;
    padding: 5px;
    border: solid 2px rgba(12, 142, 218, 0.9);
  }
  .title {
    display: block;
    font-family: 'Open Sans';
    font-weight: 300;
    text-align: center;
    margin-bottom: $item-gutter;
  }
  blockquote {
    margin: 0;
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: italic;
    font-size: 17px;
    line-height: 1.65em;
    text-align: justify;
  }
}

.tech-logos {

  text-align: center;

  a {
    display: inline-block;
    margin: $item-gutter;
    color: rgba(12, 142, 218, 0.9);
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;

    img {
      display: block;
      height: 100px;
      width: auto;
      margin-bottom: $item-gutter;

      filter: gray;
      -webkit-filter: grayscale(1);
      filter: grayscale(1);

      transition: filter 0.6s, -webkit-filter 0.6s;
    }
  }
  a:hover {
    text-decoration: underline;
    
    img {
      -webkit-filter: grayscale(0);
      filter: none;
    }
  }
}

.about {
  padding-left: $item-gutter;

  p {
    margin-bottom: $item-gutter;
  }
  p:last-of-type {
    margin-bottom: 0;
  }

  img {
    float: left;
    max-width: 150px;
    height: auto;
    margin-right: $item-gutter;
    margin-bottom: $item-gutter;
    border-radius: 100%;
    padding: 5px;
    border: solid 2px rgba(12, 142, 218, 0.9);
  }
}

.message {
  margin: $item-gutter;
  padding: $item-gutter;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
.message.success {
  background-color: #9F9;
  border: solid 1px #343;
  color: #343;
}

.fullview {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(12, 142, 218, 0.9);
  color: #FFF;

  > * {
    width: 400px;
  }
}