.clear:after {
  display: block;
  content: "";
  clear: both;
}

.centerblock {
  width: 100%;
  max-width: $content-width;
  box-sizing: border-box;
  margin: 0 auto;
  padding: $item-gutter;
}

.centerblock.sm {
  max-width: $content-width-sm;
}

.text-center {
  text-align: center;
}

.cols {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: center;

  .col {
    flex: 1;
    box-sizing: border-box;
    padding-left: $item-gutter;
    padding-right: $item-gutter;
  }
}